@use '../abstracts' as *;

.main-wrap {
  width: 100%;
  min-width: 1600px;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  .container {
    flex: 1;
    background-color: #000;
  }
}

.before-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  transition: all 0.25s ease-in-out;
  &.off {
    top: -110px;
  }
}
.before-header-wrap {
  position: relative;
  @include flex(0px);
  align-items: center;
  justify-content: center;
  max-width: 1580px;
  margin: 0 auto;
  height: 100%;
  .before-logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    a {
      display: flex;
    }
  }
}
.before-menu-list {
  @include flex(0px);
  align-items: center;
  height: 100%;
  .before-menu-item {
    height: 100%;
    a {
      @include flex(0px);
      align-items: center;
      height: 100%;
      padding: 0 40px;
      @include fontDefinition($font-ds-22, $font-w-700, $line-h-140);
      color: #f5f5f5;
    }
  }
}
.before-sub-menu {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  .before-sub-menu-list {
    @include flex(34px);
    align-items: center;
    .before-sub-menu-item {
      a {
        display: block;
        @include fontDefinition($font-ds-18, $font-w-700, $line-h-140);
        color: #999999;
        &.login {
          @include flex(6px);
          align-items: center;
          font-family: 'Inter Tight', sans-serif;
          .icon-login {
            display: block;
            width: 24px;
            height: 24px;
            background-image: url('/assets/images/before_main/icon_login.svg');
            background-size: cover;
          }
        }
      }
    }
  }
}
