@use '../abstracts' as *;

.main-wrap {
  width: 100%;
  min-width: 1600px;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  .container {
    flex: 1;
  }
}

.before-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  transition: all 0.25s ease-in-out;
  z-index: 99999;
  &.off {
    top: -110px;
  }
  &.act {
    background-color: #fff;
    box-shadow:
      0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
    .before-header-wrap {
      .before-logo {
        a {
          background: url('/assets/images/before_main/logo_act.svg') no-repeat center center;
          background-size: cover;
        }
      }
    }
    .before-menu-list {
      .before-menu-item {
        a {
          color: #252b32;
        }
      }
    }
    .before-sub-menu {
      .before-sub-menu-list {
        .before-sub-menu-item {
          a {
            color: #252b32;
            &.login {
              .icon-login {
                background-image: url('/assets/images/before_main/icon_login_act.svg');
              }
            }
          }
        }
      }
    }
  }
}
.before-header-wrap {
  position: relative;
  @include flex(0px);
  align-items: center;
  justify-content: center;
  max-width: 1580px;
  margin: 0 auto;
  height: 100%;
  .before-logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    a {
      display: block;
      width: 190px;
      height: 60px;
      background: url('/assets/images/before_main/Logo.svg') no-repeat center center;
      background-size: cover;
      transition: all 0.25s ease-in-out;
    }
  }
}
.before-menu-list {
  @include flex(0px);
  align-items: center;
  height: 100%;
  .before-menu-item {
    height: 100%;
    a {
      @include flex(0px);
      align-items: center;
      height: 100%;
      padding: 0 40px;
      @include fontDefinition($font-ds-22, $font-w-700, $line-h-140);
      color: #f5f5f5;
      transition: all 0.25s ease-in-out;
    }
  }
}
.before-sub-menu {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  .before-sub-menu-list {
    @include flex(34px);
    align-items: center;
    .before-sub-menu-item {
      a {
        display: block;
        @include fontDefinition($font-ds-18, $font-w-700, $line-h-140);
        color: #999999;
        transition: all 0.25s ease-in-out;
        &.login {
          @include flex(6px);
          align-items: center;
          font-family: 'Inter Tight', sans-serif;
          .icon-login {
            display: block;
            width: 24px;
            height: 24px;
            background-image: url('/assets/images/before_main/icon_login.svg');
            background-size: cover;
            transition: all 0.25s ease-in-out;
          }
        }
      }
    }
  }
}

.main-section01 {
  position: relative;
  @include flex(0px);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(16, 16, 16, 0.8);
  box-shadow: inset 0 -100px 50px -40px #0d0d0d;
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}
.section-inner {
  max-width: 1580px;
  width: 100%;
  margin: 0 auto;
}
.erp-tit-wrap {
  position: relative;
  height: 418px;
  background: url('/assets/images/before_main/erp_txt.svg') no-repeat center center;
  background-size: contain;
  background-size: 765px 418px;
  .whale-img {
    @include absoluteCenter;
  }
}
.erp-txt-wrap {
  margin-top: 42px;
  text-align: center;
  font-family: 'Inter Tight', sans-serif;
  text-transform: capitalize;
  .erp-txt-tit {
    @include fontDefinition($font-ds-50, $font-w-900, $line-h-150);
    color: #fff;
  }
  .erp-txt-desc {
    @include fontDefinition($font-ds-22, $font-w-500, $line-h-140);
    color: rgba(255, 255, 255, 0.7);
  }
}
.main-section02 {
  padding: 200px 0;
  background-color: #0d0d0d;
}
