@use '../abstracts' as *;

/******************** wrap *****************/
.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 1600px;
  min-height: 100vh;
  padding-left: 280px;
  transition: padding-left 0.25s ease-in-out;
  // overflow-x: hidden;
  .container {
    flex: 1;
    padding: 24px;
    background-color: #f5f5f5;
    .frame {
      min-height: calc(100vh - 48px);
      padding: 42px;
      background-color: #fff;
      border-radius: 30px;
      border: 1px solid #ebebeb;
    }
  }
  &.sm {
    padding-left: 86px;
  }
}
