@use '../abstracts' as *;

.login-main-wrap {
  margin-top: 52px;
}
.login-main-item {
  margin-bottom: 42px;
  &:first-child {
    margin-bottom: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  .login-main-item-tit {
    @include fontDefinition($font-ds-26, $font-w-800, $line-h-140);
    color: #222;
  }
  .login-main-item-cont {
    margin-top: 18px;
  }
}
// 점포별 운영 현황
.swiper.store-swiper {
  padding-bottom: 42px;
  .swiper-slide {
    height: auto;
  }
  .swiper-pagination {
    bottom: 0px;
    .swiper-pagination-bullet {
      width: 13px;
      height: 13px;
      transition: all 0.3s ease;
    }
  }
}
.store-main-item {
  @include flex(0px);
  flex-direction: column;
  height: 100%;
  border-radius: 30px;
  border: 1px solid #eee;
  overflow: hidden;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.02);
  .store-img {
    display: flex;
    position: relative;
    height: 230px;
    width: 100%;
    padding: 8px 8px 0px;
    img {
      object-fit: cover;
      border-radius: 22px;
    }
    .empty-img {
      border-radius: 22px;
      @include flex(0px);
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: #f5f5f5;
      span {
        @include fontDefinition($font-ds-32, $font-w-800, $line-h-120);
        color: #e0e0e0;
      }
    }
  }
}
.store-main-info {
  padding: 35px 25px;
  .store-badge-wrap {
    @include flex(8px);
    align-items: center;
    .invite-staff {
      @include flex(12px);
      align-items: center;
      border-radius: 3px;
      background-color: #e0914a;
      color: #fff;
      height: 30px;
      padding: 0 10px;
      @include fontDefinition($font-ds-15, $font-w-600, 30px);
      color: #fff;
      transition: all 0.15s ease;
      .icon-arrow-right {
        display: block;
        width: 6px;
        height: 10px;
        background: url('/assets/images/main/invite_arr.svg') no-repeat center center;
        background-size: cover;
      }
      &:hover {
        background-color: #ce722c;
      }
    }
  }
  .store-info-wrap {
    margin-top: 18px;
    .store-time {
      @include fontDefinition($font-ds-16, $font-w-400, $line-h-140);
      color: #222;
    }
    .store-name {
      @include fontDefinition($font-ds-20, $font-w-600, $line-h-140);
      color: #222;
    }
  }
}
.store-work {
  @include flex(10px);
  flex-direction: column;
  margin-top: 20px;
  .store-work-item {
    @include flex(10px);
    align-items: center;
    .badge {
      flex: none;
    }
    .worker-info {
      flex: 1;
    }
    ul {
      @include flex(0px);
      li {
        position: relative;
        @include fontDefinition($font-ds-16, $font-w-400, $line-h-140);
        color: #222;
        padding: 0 6px;
        &::before {
          content: '';
          position: absolute;
          right: 0;
          top: calc(50% - 1px);
          transform: translateY(-50%);
          width: 1px;
          height: 9px;
          background-color: #999a9a;
        }
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
          &::before {
            display: none;
          }
        }
      }
    }
  }
  .store-worker-empty {
    .empty-tit {
      @include fontDefinition($font-ds-16, $font-w-700, $line-h-150);
      color: #e0914a;
    }
    .empty-desc {
      @include fontDefinition($font-ds-15, $font-w-400, $line-h-150);
      color: #e0914a;
      word-break: keep-all;
    }
  }
}
.store-main-item-add {
  @include flex(0px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #eee;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.02);
  overflow: hidden;
  padding: 35px 25px;
  transition: all 0.3s ease;
  .store-add-icon {
    width: 48px;
    height: 48px;
    background: url('/assets/images/main/store_add_icon.svg') no-repeat center center;
    background-size: cover;
    box-shadow: 0 14px 24px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
  }
  .store-add-txt {
    margin-top: 38px;
    .store-add-tit {
      @include fontDefinition($font-ds-22, $font-w-700, $line-h-140);
      color: #222;
    }
    .store-add-desc {
      margin-top: 10px;
      @include fontDefinition($font-ds-16, $font-w-400, $line-h-140);
      color: #222;
      span {
        display: block;
      }
    }
  }
  &:hover {
    background-color: #f5f5f5;
  }
}

// TO-DO LIST
.todo-list-wrap {
  padding: 40px 32px;
  border-radius: 30px;
  border: 1px solid #eee;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.02);
}
.todo-list-item-wrap {
  @include flex(0px);
}
.todo-list-item {
  flex: 1.3;
  padding: 0 112px;
  border-right: 1px solid #eee;
  &:first-child {
    flex: 1;
    padding-left: 0;
  }
  &:last-child {
    flex: 1;
    padding-right: 0;
    border-right: none;
  }
  .todo-list-item-tit {
    @include fontDefinition($font-ds-22, $font-w-700, $line-h-140);
    color: #222;
  }
  .todo-list {
    margin-top: 18px;
    .todo-list-li {
      .todo-list-btn {
        display: inline-block;
        text-align: left;
        @include fontDefinition($font-ds-16, $font-w-400, $line-h-200);
        color: #366fe3;
        text-decoration: underline;
        @include ellipsis(1);
      }
    }
  }
  .todo-emtpy {
    margin-top: 18px;
    @include fontDefinition($font-ds-16, $font-w-400, $line-h-200);
    color: #222;
  }
}

// 그래프 모음
.dash-bord-wrap {
  @include flex(32px);
  .dash-bord-item {
    @include flex(0px);
    flex-direction: column;
    flex: 1;
    padding: 40px 32px;
    border-radius: 30px;
    border: 1px solid #eee;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.02);
  }
}
.dash-bord-head {
  @include flex(0px);
  align-items: center;
  .dash-bord-head-tit {
    @include fontDefinition($font-ds-22, $font-w-700, $line-h-140);
    color: #222;
    span {
      @include fontDefinition($font-ds-16, $font-w-500, $line-h-140);
    }
  }
  .dash-bord-head-desc {
    margin-left: auto;
    @include flex(8px);
    align-items: center;
    .dash-bord-head-desc-unit {
      @include fontDefinition($font-ds-16, $font-w-400, $line-h-140);
      color: #505050;
    }
  }
}
.dash-bord-content {
  @include flex(0px);
  flex-direction: column;
  height: 100%;
  margin-top: 38px;
  .dash-graph-wrap {
    .dash-graph-guide {
      @include fontDefinition($font-ds-16, $font-w-400, $line-h-140);
      color: #505050;
      margin-top: 24px;
    }
  }
}
.dash-bord-empty {
  height: 100%;
  @include flex(0px);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  .empty-tit {
    @include fontDefinition($font-ds-18, $font-w-600, $line-h-150);
    color: #222;
  }
  .empty-desc {
    @include fontDefinition($font-ds-16, $font-w-400, $line-h-150);
    color: #505050;
    word-break: keep-all;
    margin-top: 4px;
  }
  .empty-btn {
    margin-top: 18px;
    .dash-empty-btn {
      @include flex(10px);
      align-items: center;
      justify-content: center;
      height: 54px;
      background-color: #e0914a;
      border-radius: 8px;
      @include fontDefinition($font-ds-18, $font-w-700, $line-h-140);
      color: #fff;
      padding: 0 24px;
      transition: all 0.15s ease;
      &:hover {
        background-color: #ce722c;
      }
      .icon-arrow-right {
        display: block;
        width: 24px;
        height: 24px;
        background: url('/assets/images/main/dash_empty_arr.svg') no-repeat center center;
        background-size: cover;
      }
    }
  }
}

//이용 중인 부가서비스
.after-service-wrap {
  @include flex(32px);
  flex-wrap: wrap;
}
.after-service-item {
  width: calc(25% - 24px);
  padding: 40px 32px;
  border-radius: 30px;
  border: 1px solid #eee;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.02);
}
.after-service-header {
  .after-service-tit-wrap {
    @include flex(12px);
    align-items: center;
    .after-service-tit {
      @include fontDefinition($font-ds-22, $font-w-800, $line-h-140);
      color: #222;
    }
  }
  .after-service-desc {
    margin-top: 10px;
    @include fontDefinition($font-ds-16, $font-w-400, $line-h-140);
    color: #505050;
  }
}

.service-swiper-wrap {
  position: relative;
  padding: 20px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 18px;
  .service-store {
    text-align: center;
    @include fontDefinition($font-ds-18, $font-w-500, $line-h-140);
    color: #222;
  }
}

.swiper.service-swiper {
  position: relative;
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    width: 24px;
    height: 24px;
    top: unset;
    bottom: 1px;
    background: #fff url('/assets/images/main/service_swiper_arr.svg') no-repeat center center;
    background-size: cover;
    svg {
      display: none;
    }
  }
  .swiper-button-prev {
    left: 0;
    transform: rotate(180deg);
  }
  .swiper-button-next {
    right: 0;
  }
}

.service-footer {
  margin-top: 18px;
  .service-sales {
    @include flex(0px);
    align-items: center;
    .service-sales-tit {
      @include flex(10px);
      align-items: center;
      span {
        @include fontDefinition($font-ds-18, $font-w-700, $line-h-140);
        color: #222;
      }
    }
    .service-sales-total {
      margin-left: auto;
      @include fontDefinition($font-ds-22, $font-w-700, $line-h-140);
      color: #222;
    }
  }
  .service-btn {
    @include flex(10px);
    align-items: center;
    justify-content: center;
    height: 54px;
    background-color: #092c4c;
    border-radius: 8px;
    @include fontDefinition($font-ds-18, $font-w-700, $line-h-140);
    color: #fff;
    padding: 0 24px;
    transition: all 0.15s ease;
    &:hover {
      background-color: #0a1b2b;
    }
    .icon-arrow-right {
      display: block;
      width: 24px;
      height: 24px;
      background: url('/assets/images/main/dash_empty_arr.svg') no-repeat center center;
      background-size: cover;
    }
    .icon-subscribe {
      display: block;
      width: 24px;
      height: 24px;
      background: url('/assets/images/main/subscrip_icon.svg') no-repeat center center;
      background-size: cover;
    }
  }
}

.after-service-empty {
  @include flex(0px);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  @include fontDefinition($font-ds-22, $font-w-700, $line-h-140);
  color: #d3d3d3;
}
