@use '../abstracts' as *;

.modal-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1100000;
  .modal-dialog {
    position: relative;
    display: flex;
    align-items: center;
    min-height: calc(100% - (24px * 2));
    max-width: 632px;
    z-index: 111000;
    margin: 24px auto;
    pointer-events: none;
    font-size: $font-ds-14;
    &.small {
      max-width: 352px;
    }
    &.large {
      max-width: 832px;
    }
    &.xl {
      max-width: 1032px;
    }
    .modal-content {
      flex: 1;
      position: relative;
      margin: 0 16px;
      background-clip: padding-box;
      background-color: $white-fff;
      outline: 0 none;
      pointer-events: auto;
      border-radius: 8px;
      .modal-header {
        display: flex;
        align-items: center;
        position: relative;
        padding: 18px 24px;
        border-bottom: 1px solid #000;
        h2 {
          @include fontDefinition($font-ds-22, $font-w-500, $line-h-140);
          color: #222;
        }
        .modal-close {
          margin-left: auto;
          width: 24px;
          height: 24px;
          background-image: url('/assets/images/popup/modal_close.svg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      .modal-body {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 24px;
      }
      .modal-footer {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding: 10px;
      }
    }
  }
}
