@use '../abstracts' as *;
.data-list-header {
  @include flex(0px);
  align-items: center;
  margin-bottom: 12px;
  .data-header-right {
    margin-left: auto;
    @include flex(8px);
    align-items: center;
  }
}
