@use '../abstracts' as *;

.content-wrap {
  margin-bottom: 34px;
  &:last-child {
    margin-bottom: 0;
  }
}
.content-header {
  @include fontDefinition($font-ds-18, $font-w-500, $line-h-140);
  color: #222;
  padding-bottom: 12px;
  border-bottom: 1px solid #ebebeb;
}
.contents-btn {
  @include flex(8px);
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 12px;
}
.flx-bx {
  @include flex(16px);
  align-items: center;
  &.g10 {
    gap: 10px;
  }
  &.flx1 {
    flex: 1;
  }

  .filed-tit {
    flex: none;
    @include fontDefinition($font-ds-15, $font-w-500, $line-h-140);
    color: #222;
  }
  span {
    @include fontDefinition($font-ds-15, $font-w-400, $line-h-140);
    color: #222;
  }
}

.data-list-header {
  @include flex(0px);
  align-items: center;
  margin-bottom: 12px;
  .data-header-left {
    @include flex(8px);
    align-items: center;
  }
  .data-header-right {
    margin-left: auto;
    @include flex(8px);
    align-items: center;
  }
}
.file-bx {
  width: 100%;
  min-height: 150px;
  padding: 30px 16px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  cursor: pointer;
  .file-guide {
    @include fontDefinition($font-ds-15, $font-w-500, $line-h-140);
    color: #222;
    margin-bottom: 15px;
  }
  .file-list {
    @include flex(10px);
    flex-direction: column;
  }
  .file-item-wrap {
    @include flex(10px);
    align-items: center;
    .file-name {
      @include fontDefinition($font-ds-15, $font-w-400, $line-h-140);
      color: #366fe3;
      text-decoration: underline;
    }
  }
}
.file-delete {
  display: block;
  width: 18px;
  height: 18px;
  background: url('/assets/images/contents/edit_file_del.svg') no-repeat center;
  background-size: cover;
}
.file-preview {
  display: block;
  width: 18px;
  height: 18px;
  background: url('/assets/images/contents/file_preview.svg') no-repeat center;
  background-size: cover;
}
.tooltip-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  .tooltip-icon {
    display: block;
    width: 20px;
    height: 20px;
    background: url('/assets/images/contents/tooltip_icon.svg') no-repeat center;
    background-size: cover;
  }
  .tooltip-txt {
    position: absolute;
    top: calc(-100% + 10px);
    left: 50%;
    transform: translate(-50%, -100%);
    min-width: 250px;
    width: 100%;
    white-space: pre-wrap;
    background-color: #6a7e96;
    border: 1px solid #44566b;
    border-radius: 4px;
    @include fontDefinition($font-ds-14, $font-w-400, $line-h-140);
    color: #fff;
    padding: 5px 10px;
    text-align: left;
    word-break: keep-all;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in-out;
    z-index: 15;
    &:after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      width: 10px;
      height: 10px;
      background-color: #6a7e96;
    }
    i,
    b {
      display: block;
    }
  }
  &:hover {
    background: url('/assets/images/contents/hover_tooltip_icon.svg') no-repeat center;
    .tooltip-txt {
      opacity: 1;
      visibility: visible;
    }
  }
}
.auto-right {
  margin-left: auto;
  @include flex(10px);
  align-items: center;
}
.more-btn {
  display: flex;
  position: relative;
  cursor: pointer;
  .icon-more {
    flex: none;
    width: 32px;
    height: 32px;
    background-image: url('/assets/images/ui/table_more.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .option-list {
    position: absolute;
    bottom: 0;
    right: 24px;
    min-width: 200px;
    background-color: #fff;
    padding: 16px 14px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in-out;
    z-index: 15;
    &.act {
      opacity: 1;
      visibility: visible;
    }
  }
  .option-item {
    display: block;
    width: 100%;
    text-align: left;
    @include fontDefinition($font-ds-14, $font-w-400, $line-h-140);
    color: #999999;
    padding-bottom: 8px;
    padding-top: 8px;
    border-bottom: 1px solid #eeeeee;
    transition: all 0.15s ease-in-out;
    &:hover {
      color: #222;
    }
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}

// 빈 데이터
.empty-wrap {
  padding: 100px 0;
  text-align: center;
  .empty-data {
    @include fontDefinition($font-ds-18, $font-w-400, $line-h-140);
    color: #666;
  }
}
// 가맹점 초대
.invitation-form {
  padding: 28px 18px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 6px;
}
.invitation-form-header {
  @include flex(10px);
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #ebebeb;
  .invitation-select-tit {
    @include fontDefinition($font-ds-15, $font-w-500, $line-h-140);
    color: #222;
  }
  .invitation-select-box {
    width: 100%;
    max-width: 630px;
  }
}
.invitation-form-content {
  padding: 30px 0 0;
}
.invitation-cont-guide {
  margin-bottom: 30px;
  .invitation-guide-desc {
    span {
      display: block;
      @include fontDefinition($font-ds-15, $font-w-400, $line-h-150);
      color: #666;
      i {
        color: #366fe3;
        font-weight: 500;
      }
    }
  }
}
.invitation-cont-tit {
  @include fontDefinition($font-ds-18, $font-w-500, $line-h-140);
  color: #222;
  margin-bottom: 16px;
}
.invitation-cont-form {
  margin-bottom: 30px;
}
.invitation-flx {
  @include flex(10px);
  align-items: center;
  .invitation-input {
    width: 100%;
    max-width: 500px;
  }
  .invitation-explain {
    @include fontDefinition($font-ds-15, $font-w-400, $line-h-140);
    margin-left: 8px;
    color: #222;
  }
  .invitation-warning {
    @include fontDefinition($font-ds-15, $font-w-400, $line-h-140);
    color: #f00;
  }
}
.invitation-form-footer {
  @include flex(10px);
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  border-top: 1px solid #ebebeb;
}

// header 정보 공통
.master-detail-data {
  @include flex(34px);
  flex-direction: column;
}
.detail-data-wrap {
  padding: 10px 24px;
}
.detail-data-list {
  @include flex(0px);
  align-items: center;
  .detail-data-item {
    position: relative;
    padding: 0 10px;
    .detail-data-flx {
      @include flex(5px);
      align-items: center;
    }
    span {
      @include fontDefinition($font-ds-15, $font-w-400, $line-h-140);
      color: #666;
    }
    button {
      @include fontDefinition($font-ds-15, $font-w-400, $line-h-140);
      color: #366fe3;
      text-decoration: underline;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      &:before {
        display: none;
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 1px;
      height: 11px;
      background-color: #d9d9d9;
    }
  }
}
.data-option-wrap {
  @include flex(0px);
  align-items: center;
  .data-option-item {
    position: relative;
    flex: 1;
    &:last-child {
      padding-left: 35px;
      &:before {
        display: none;
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 1px;
      height: 25px;
      background-color: #d9d9d9;
    }
  }
}

// 썸네일 리스트
.list-count-btn {
  display: block;
  width: 42px;
  height: 42px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &.list {
    background-image: url('/assets/images/contents/list_icon.svg');
  }
  &.thumb {
    background-image: url('/assets/images/contents/thumbnail_icon.svg');
  }
}
.thumb-list-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 42px 16px;
}
.thumb-item-img {
  position: relative;
  border: 1px solid #f2f2f2;
}
.thumb-badge-wrap {
  position: absolute;
  top: 24px;
  right: 34px;
  @include flex(0px);
  align-items: center;
  z-index: 2;
  .thumb-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-family: 'Gmarket Sans', sans-serif;
    @include fontDefinition($font-ds-12, bold, 60px);
    color: #fff;
    backdrop-filter: blur(2px);
    margin-right: -10px;
    &.new {
      background-color: rgba(95, 190, 181, 0.7);
    }
    &.best {
      background-color: rgba(253, 202, 99, 0.7);
    }
    &.event {
      background-color: rgba(243, 158, 106, 0.7);
    }
  }
}
.temp-badge-wrap {
  position: absolute;
  bottom: 24px;
  right: 34px;
  @include flex(4px);
  align-items: center;
  z-index: 2;
  .temp-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    &.hot {
      background-color: #ffaaaa;
      background-image: url('/assets/images/contents/hot_icon.svg');
      background-size: 22px 23px;
    }
    &.cold {
      background-color: #a4d5ff;
      background-image: url('/assets/images/contents/cold_icon.svg');
      background-size: 20px 23px;
    }
  }
}
.store-badge {
  flex: none;
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 3px;
  text-align: center;
  @include fontDefinition($font-ds-15, $font-w-500, 30px);
  &.blue {
    background-color: #f2f6ff;
    border: 1px solid #366fe3;
    color: #366fe3;
  }
  &.org {
    background-color: #fffaf4;
    border: 1px solid #e38936;
    color: #e38936;
  }
}
.thumb-item-info {
  margin-top: 26px;
}
.thumb-item-info-tit {
  @include flex(0px);
  align-items: center;
  .info-tit-left {
    @include flex(8px);
    align-items: center;
    .info-tit {
      @include fontDefinition($font-ds-18, $font-w-500, $line-h-140);
      color: #222;
    }
  }
  .info-tit-right {
    margin-left: auto;
  }
}
.thumb-item-info-desc {
  margin-top: 14px;
}
.thum-desc-table {
  width: 100%;
  table-layout: fixed;
  box-sizing: border-box;
  th {
    @include fontDefinition($font-ds-15, $font-w-500, $line-h-140);
    color: #222;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  td {
    padding-left: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  tr {
    &:last-child {
      th,
      td {
        padding-bottom: 0;
      }
    }
  }
}
.thum-data-list {
  @include flex(0px);
  align-items: center;
  .thum-data-item {
    position: relative;
    padding: 0 10px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      &:before {
        display: none;
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 1px;
      height: 11px;
      background-color: #d9d9d9;
    }
    span {
      @include fontDefinition($font-ds-15, $font-w-400, $line-h-140);
      color: #666;
      .price {
        text-decoration: line-through;
      }
      .discount {
        margin-left: 10px;
      }
    }
  }
}

// 옵션 구성
.master-option-table {
  width: 100%;
  table-layout: fixed;
  box-sizing: border-box;
  th {
    padding: 20px 16px;
    @include fontDefinition($font-ds-16, $font-w-500, $line-h-140);
    color: #222;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    &.option-header-tit {
      background-color: #f5f5f5;
    }
    .option-num-tit {
      @include flex(0px);
      align-items: center;
      span {
        font-size: $font-ds-15;
      }
      .sequence-btn {
        margin-left: auto;
        display: block;
        width: 24px;
        height: 24px;
        background: url('/assets/images/contents/sequence_icon.svg') no-repeat center;
        background-size: cover;
      }
    }
  }
  td {
    border-bottom: 1px solid #ebebeb;
  }
  tr {
    &:last-child {
      th,
      td {
        border-bottom: none;
      }
    }
  }
}
.option-header {
  width: 100%;
  background-color: #f5f5f5;
  td {
    padding: 10px 16px;
    border-right: 1px solid #ebebeb;
    .option-name {
      flex: none;
      @include fontDefinition($font-ds-15, $font-w-500, $line-h-140);
      color: #666;
    }
    .toggle-wrap {
      gap: 16px;
      .toggle-txt {
        color: #666;
        font-weight: 500;
      }
    }
    &:last-child {
      border-right: none;
    }
  }
}
.option-list {
  width: 100%;
  td {
    padding: 10px 16px;
    border-right: 1px solid #ebebeb;
    .option-name {
      flex: none;
      @include fontDefinition($font-ds-15, $font-w-500, $line-h-140);
      color: #666;
    }
    .toggle-wrap {
      .toggle-txt {
        color: #666;
        font-weight: 500;
      }
      .radio-form-box {
        margin-left: auto;
      }
    }
    &:last-child {
      border-right: none;
    }
  }
}

// 카테고리 리스트
.category-list {
  @include flex(10px);
  flex-direction: column;
  margin-top: 10px;
  padding: 6px 0;
  .category-item {
    @include flex(10px);
    align-items: center;
    .category-name {
      @include fontDefinition($font-ds-15, $font-w-400, $line-h-140);
      color: #222;
      i {
        color: #e38936;
      }
    }
  }
}
// 점포용 프로모션 가격 관리
.promotion-header {
  padding: 10px 0;
}
.promotion-table {
  width: 100%;
  table-layout: fixed;
  box-sizing: border-box;
  th {
    padding: 20px 16px;
    border: 1px solid #ebebeb;
  }
  td {
    padding: 10px 16px;
    border: 1px solid #ebebeb;
    .filed-tit {
      color: #888;
    }
  }
}
