@use '../abstracts' as *;
.data-list-header {
  @include flex(0px);
  align-items: center;
  margin-bottom: 12px;
  .data-header-left {
    @include flex(8px);
    align-items: center;
  }
  .data-header-right {
    margin-left: auto;
    @include flex(8px);
    align-items: center;
  }
}
.file-bx {
  width: 100%;
  min-height: 150px;
  padding: 30px 16px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  cursor: pointer;
  .file-guide {
    @include fontDefinition($font-ds-15, $font-w-500, $line-h-140);
    color: #222;
    margin-bottom: 15px;
  }
  .file-list {
    @include flex(10px);
    flex-direction: column;
  }
  .file-item-wrap {
    @include flex(10px);
    align-items: center;
    .file-name {
      @include fontDefinition($font-ds-15, $font-w-400, $line-h-140);
      color: #366fe3;
      text-decoration: underline;
    }
    .file-delete {
      display: block;
      width: 18px;
      height: 18px;
      background: url('/assets/images/contents/edit_file_del.svg') no-repeat center;
      background-size: cover;
    }
  }
}
.tooltip-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  .tooltip-icon {
    display: block;
    width: 20px;
    height: 20px;
    background: url('/assets/images/contents/tooltip_icon.svg') no-repeat center;
    background-size: cover;
  }
  .tooltip-txt {
    position: absolute;
    top: calc(-100% + 10px);
    left: 50%;
    transform: translate(-50%, -100%);
    min-width: 300px;
    width: 100%;
    white-space: pre-wrap;
    background-color: #6a7e96;
    border: 1px solid #44566b;
    border-radius: 4px;
    @include fontDefinition($font-ds-14, $font-w-400, $line-h-140);
    color: #fff;
    padding: 5px 10px;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in-out;
    z-index: 15;
    &:after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      width: 10px;
      height: 10px;
      background-color: #6a7e96;
    }
  }
  &:hover {
    background: url('/assets/images/contents/hover_tooltip_icon.svg') no-repeat center;
    .tooltip-txt {
      opacity: 1;
      visibility: visible;
    }
  }
}
.auto-right {
  margin-left: auto;
  @include flex(10px);
  align-items: center;
}
.more-btn {
  display: flex;
  position: relative;
  cursor: pointer;
  .icon-more {
    flex: none;
    width: 32px;
    height: 32px;
    background-image: url('/assets/images/ui/table_more.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .option-list {
    position: absolute;
    bottom: 0;
    right: 24px;
    min-width: 200px;
    background-color: #fff;
    padding: 16px 14px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    z-index: 15;
  }
  .option-item {
    display: block;
    width: 100%;
    text-align: left;
    @include fontDefinition($font-ds-14, $font-w-400, $line-h-140);
    color: #999999;
    padding-bottom: 8px;
    padding-top: 8px;
    border-bottom: 1px solid #eeeeee;
    transition: all 0.15s ease-in-out;
    &:hover {
      color: #222;
    }
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}

// 가맹점 초대
.invitation-form {
  padding: 28px 18px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 6px;
}
.invitation-form-header {
  @include flex(10px);
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #ebebeb;
  .invitation-select-tit {
    @include fontDefinition($font-ds-15, $font-w-500, $line-h-140);
    color: #222;
  }
  .invitation-select-box {
    width: 100%;
    max-width: 630px;
  }
}
.invitation-form-content {
  padding: 30px 0 0;
}
.invitation-cont-guide {
  margin-bottom: 30px;
  .invitation-guide-desc {
    span {
      display: block;
      @include fontDefinition($font-ds-15, $font-w-400, $line-h-150);
      color: #666;
      i {
        color: #366fe3;
        font-weight: 500;
      }
    }
  }
}
.invitation-cont-tit {
  @include fontDefinition($font-ds-18, $font-w-500, $line-h-140);
  color: #222;
  margin-bottom: 16px;
}
.invitation-cont-form {
  margin-bottom: 30px;
}
.invitation-flx {
  @include flex(10px);
  align-items: center;
  .invitation-input {
    width: 100%;
    max-width: 500px;
  }
  .invitation-explain {
    @include fontDefinition($font-ds-15, $font-w-400, $line-h-140);
    margin-left: 8px;
    color: #222;
  }
  .invitation-warning {
    @include fontDefinition($font-ds-15, $font-w-400, $line-h-140);
    color: #f00;
  }
}
.invitation-form-footer {
  @include flex(10px);
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  border-top: 1px solid #ebebeb;
}

// header 정보 공통
.master-detail-data {
  @include flex(34px);
  flex-direction: column;
}
.detail-data-wrap {
  padding: 10px 24px;
}
.detail-data-list {
  @include flex(0px);
  align-items: center;
  .detail-data-item {
    position: relative;
    padding: 0 10px;
    .detail-data-flx {
      @include flex(5px);
      align-items: center;
    }
    span {
      @include fontDefinition($font-ds-15, $font-w-400, $line-h-140);
      color: #666;
    }
    button {
      @include fontDefinition($font-ds-15, $font-w-400, $line-h-140);
      color: #366fe3;
      text-decoration: underline;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      &:before {
        display: none;
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 1px;
      height: 11px;
      background-color: #d9d9d9;
    }
  }
}
.data-option-wrap {
  @include flex(0px);
  align-items: center;
  .data-option-item {
    position: relative;
    flex: 1;
    &:last-child {
      padding-left: 35px;
      &:before {
        display: none;
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 1px;
      height: 25px;
      background-color: #d9d9d9;
    }
  }
}
