@use '../abstracts' as *;
.data-list-header {
  @include flex(0px);
  align-items: center;
  margin-bottom: 12px;
  .data-header-left {
    @include flex(8px);
    align-items: center;
  }
  .data-header-right {
    margin-left: auto;
    @include flex(8px);
    align-items: center;
  }
}

// 가맹점 초대
.invitation-form {
  padding: 28px 18px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 6px;
}
.invitation-form-header {
  @include flex(10px);
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #ebebeb;
  .invitation-select-tit {
    @include fontDefinition($font-ds-15, $font-w-500, $line-h-140);
    color: #222;
  }
  .invitation-select-box {
    width: 100%;
    max-width: 630px;
  }
}
.invitation-form-content {
  padding: 30px 0 0;
}
.invitation-cont-guide {
  margin-bottom: 30px;
  .invitation-guide-desc {
    span {
      display: block;
      @include fontDefinition($font-ds-15, $font-w-400, $line-h-150);
      color: #666;
      i {
        color: #366fe3;
        font-weight: 500;
      }
    }
  }
}
.invitation-cont-tit {
  @include fontDefinition($font-ds-18, $font-w-500, $line-h-140);
  color: #222;
  margin-bottom: 16px;
}
.invitation-cont-form {
  margin-bottom: 30px;
}
.invitation-flx {
  @include flex(10px);
  align-items: center;
  .invitation-input {
    width: 100%;
    max-width: 500px;
  }
  .invitation-explain {
    @include fontDefinition($font-ds-15, $font-w-400, $line-h-140);
    margin-left: 8px;
    color: #222;
  }
  .invitation-warning {
    @include fontDefinition($font-ds-15, $font-w-400, $line-h-140);
    color: #f00;
  }
}
.invitation-form-footer {
  @include flex(10px);
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  border-top: 1px solid #ebebeb;
}

// header 정보 공통
.master-detail-data {
  @include flex(34px);
  flex-direction: column;
}
.detail-data-wrap {
  padding: 10px 24px;
}
.detail-data-list {
  @include flex(0px);
  align-items: center;
  .detail-data-item {
    position: relative;
    padding: 0 10px;
    .detail-data-flx {
      @include flex(5px);
      align-items: center;
    }
    span {
      @include fontDefinition($font-ds-15, $font-w-400, $line-h-140);
      color: #666;
    }
    button {
      @include fontDefinition($font-ds-15, $font-w-400, $line-h-140);
      color: #366fe3;
      text-decoration: underline;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      &:before {
        display: none;
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 1px;
      height: 11px;
      background-color: #d9d9d9;
    }
  }
}
.data-option-wrap {
  @include flex(0px);
  align-items: center;
  .data-option-item {
    position: relative;
    flex: 1;
    &:last-child {
      padding-left: 35px;
      &:before {
        display: none;
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 1px;
      height: 25px;
      background-color: #d9d9d9;
    }
  }
}
