@use '../abstracts' as *;

.pop-frame {
  margin-bottom: 16px;
}
.pop-form-item {
  margin-bottom: 16px;
  .pop-form-tit {
    @include fontDefinition($font-ds-15, $font-w-500, $line-h-140);
    color: #888;
    margin-bottom: 8px;
  }
}
.pop-btn-content {
  @include flex(8px);
  align-items: center;
  justify-content: center;
}
.pop-guide {
  padding: 0 16px 20px;
  @include fontDefinition($font-ds-15, $font-w-400, $line-h-140);
  color: #333;
  letter-spacing: -0.375px;
  border-bottom: 1px solid #ebebeb;
}
.pop-table {
  width: 100%;
  table-layout: fixed;
  box-sizing: border-box;
  th {
    padding: 20px 16px;
    @include fontDefinition($font-ds-15, $font-w-500, $line-h-140);
    color: #222;
    border-bottom: 1px solid #ebebeb;
  }
  td {
    padding: 10px 0px 10px 16px;
    border-bottom: 1px solid #ebebeb;
  }
}
.add-store-list {
  @include flex(12px);
  flex-direction: column;
  padding: 20px 16px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 16px;
  .add-store-list-item {
    @include flex(10px);
    align-items: center;
    span {
      @include fontDefinition($font-ds-15, $font-w-400, $line-h-140);
      color: #222;
    }
  }
}

// 직원 초대 팝업
.work-time-wrap {
  border: 1px solid #ebebeb;
  .work-time-item {
    @include flex(24px);
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #ebebeb;
    &:last-child {
      border-bottom: none;
    }
    .work-time-th {
      flex: none;
      width: 110px;
    }
    .work-time-td {
      width: 100%;
    }
  }
}
.day-btn {
  @include fontDefinition($font-ds-15, $font-w-400, $line-h-140);
  color: #aaa;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 5px 9px;
  transition: all 0.15s ease-in-out;
  &:hover,
  &.act {
    background-color: #aaaaaa;
    color: #fff;
  }
}
.biweek-wrap {
  padding-top: 8px;
}

// 연봉 및 통상시급 계산기 팝업
.calculation-hd-table {
  width: 100%;
  table-layout: fixed;
  box-sizing: border-box;
  background-color: #fbfbfb;
  border: 1px solid #ebebeb;
  border-bottom: none;
  th {
    padding: 20px 16px;
    @include fontDefinition($font-ds-15, $font-w-500, $line-h-140);
    color: #222;
    border-bottom: 1px solid #ebebeb;
  }
  td {
    padding: 10px 10px 10px 16px;
    border-bottom: 1px solid #ebebeb;
  }
  tr {
    &:last-child {
      th {
        border-bottom: none;
      }
      td {
        border-bottom: none;
      }
    }
  }
}
.calculation-table {
  width: 100%;
  table-layout: fixed;
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  th {
    padding: 20px 16px;
    @include fontDefinition($font-ds-15, $font-w-500, $line-h-140);
    color: #222;
    border: 1px solid #ebebeb;
    background-color: #fbfbfb;
  }
  td {
    padding: 10px;
    border: 1px solid #ebebeb;
  }
}

.comparison-table {
  width: 100%;
  table-layout: fixed;
  box-shadow: 0 0 0 1px #ebebeb;
  border-radius: 6px;
  th {
    padding: 10px 16px;
    @include fontDefinition($font-ds-15, $font-w-500, $line-h-140);
    color: #fff;
    border-right: 1px solid #69727f;
    border-bottom: 1px solid #69727f;
    background-color: #556071;
    text-align: center;
    &:last-child {
      border-right: none;
    }
  }
  td {
    padding: 12px 16px;
    @include fontDefinition($font-ds-15, $font-w-500, $line-h-140);
    color: #505050;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    &:last-child {
      border-right: none;
    }
  }
  thead {
    tr {
      &:first-child {
        th {
          &:first-child {
            border-radius: 6px 0 0 0;
          }
          &:last-child {
            border-radius: 0 6px 0 0;
          }
        }
      }
    }
  }
  tr {
    &:last-child {
      th {
        border-bottom: none;
      }
      td {
        border-bottom: none;
      }
    }
    &.data {
      td {
        background-color: #fbfbfb;
      }
    }
  }
}
.comparison-btn {
  @include fontDefinition($font-ds-15, $font-w-600, $line-h-140);
  padding: 0 14px;
  height: 28px;
  color: #556071;
  background-color: #fff;
  border-radius: 6px;
  transition: all 0.15s ease-in-out;
  &:hover {
    background-color: #c8d5e9;
  }
}
.comparison-check {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(/assets/images/popup/comparison_check.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  vertical-align: middle;
}
