@use '../abstracts' as *;

.default-table {
  width: 100%;
  table-layout: fixed;
  box-sizing: border-box;
  th {
    padding: 20px 16px;
    @include fontDefinition($font-ds-15, $font-w-500, $line-h-140);
    color: #888;
    background-color: #f8f8f8;
    border: 1px solid #ebebeb;
    .imp {
      color: #f00;
    }
  }
  td {
    padding: 10px;
    border: 1px solid #ebebeb;
    .filed-check-flx {
      @include flex(18px);
      align-items: center;
    }
    .filed-flx {
      @include flex(10px);
      align-items: center;
    }
    .explain {
      @include fontDefinition($font-ds-15, $font-w-400, $line-h-140);
      color: #222;
    }
  }
}

.slidebox-body {
  .default-table {
    th {
      &:first-child {
        border-left: none;
      }
    }
    td {
      &:last-child {
        border-right: none;
      }
    }
    tr {
      &:last-child {
        th {
          border-bottom: none;
        }
        td {
          border-bottom: none;
        }
      }
    }
  }
}

// header 정보 공통
.detail-data-table {
  width: 100%;
  table-layout: fixed;
  box-sizing: border-box;
  th {
    padding: 14px 0px 14px 16px;
    @include fontDefinition($font-ds-15, $font-w-500, $line-h-140);
    color: #222;
    border-bottom: 1px solid #ebebeb;
  }
  td {
    padding: 14px 0;
    @include fontDefinition($font-ds-15, $font-w-400, $line-h-140);
    color: #222;
    border-bottom: 1px solid #ebebeb;
  }
  tr {
    &:last-child {
      th {
        border-bottom: none;
      }
      td {
        border-bottom: none;
      }
    }
  }
}
