.date-picker-wrap {
  display: flex;
  align-items: center;
  gap: 4px;
  span {
    font-size: 14px;
    font-weight: 400;
    color: #666;
  }
}
.date-picker-custom {
  width: 100%;
  .react-datepicker-wrapper,
  .react-datepicker__input-container {
    display: block;
    width: 100%;
  }
  .react-datepicker__input-container {
    position: relative;

    &:focus-within {
      &::before {
        background-color: #948ea5; // 원하는 색상 변수로 교체
      }
    }
  }
  .date-picker-input {
    position: relative;
    display: block;
    width: 100%;
    min-width: 140px;
    background-color: #fff;
    height: 42px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 400;
    color: #222;
    padding: 0 12px;
    border: 1px solid #ebebeb;
    background-image: url('/assets/images/common/datepicker.svg');
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 24px;
    cursor: pointer;
    transition: border-color 0.15s ease-in-out;
    &:focus {
      border-color: #948ea5;
    }
    &:read-only,
    &:disabled {
      color: #999;
      background-color: #f5f5f5;
      border-color: #ebebeb;
      cursor: default;
    }
  }
  .react-datepicker {
    position: relative;
    font-family: 'Pretendard', sans-serif;
    border-radius: 24px;
    border: 1px solid #e4e4e4;
  }
  .react-datepicker__header {
    background-color: #fff;
    border-bottom: none;
    padding: 24px 24px 0 24px;
    border-radius: 24px;
    border-top-right-radius: 24px !important;
  }
  .react-datepicker__current-month {
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 600;
  }
  .react-datepicker__day-name {
    font-size: 12px;
    color: #3a383f;
    opacity: 0.5;
    text-transform: uppercase;
  }
  .react-datepicker__navigation {
    top: 22px;
    background-color: rgba(28, 28, 28, 0.05);
    border-radius: 50%;
    width: 24px;
    height: 24px;
  }
  .react-datepicker__navigation--previous {
    left: 24px;
  }
  .react-datepicker__navigation--next {
    right: 24px;
  }
  .react-datepicker__navigation-icon {
    &::before {
      width: 7px;
      height: 7px;
      border-width: 1px 1px 0 0;
      border-color: #000;
      top: 9px;
    }
  }
  .react-datepicker__navigation-icon--previous {
    &::before {
      right: -3px;
    }
  }
  .react-datepicker__navigation-icon--next {
    &::before {
      left: -3px;
    }
  }
  .react-datepicker__month {
    margin: 0;
    padding: 5px 24px 24px 24px;
  }
  .react-datepicker__day {
    font-size: 14px;
    font-weight: 400;
    color: #3a383f;
  }
  .react-datepicker__day--outside-month {
    color: #3a383f;
    opacity: 0.5;
  }
  .react-datepicker {
    &__day,
    &__month-text,
    &__quarter-text,
    &__year-text {
      &--selected,
      &--in-selecting-range,
      &--in-range {
        color: #fff;
      }
    }
  }
  .react-datepicker {
    &__day,
    &__month-text,
    &__quarter-text,
    &__year-text {
      &--selected,
      &--in-selecting-range,
      &--in-range {
        &:not([aria-disabled='true']):hover {
          color: #fff;
        }
      }
    }
  }
}
